html,body{height:100%;}

.body-login{
		 background-color:#286090;
	
}

.body-admin{
 background-color:#286090;
	
}

.body-admin .container{

	padding: 15px 35px 45px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.wrapper{

  margin-top: 30px;
  margin-bottom: 80px;

}
.wrapper-usuario{

  margin-top: 10px;
  margin-bottom: 5px;

}

#form-registro-empresa, #form-grupos-empresa{
   padding: 15px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-signin {
  padding: 15px 35px 45px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
.form-usuario {
  padding: 15px 35px 5px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-signin-heading{
	  margin-bottom: 30px;
	}

.highlight{
	background-color:#f5f5f5;
	
}

.footer {
  margin-top:40px;
width: 100%;
padding-top:15px;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.table{
	
	font-size:0.9em;
}

.g5{
	
	font-size:2em;
}

.g3{
	
	font-size:1.4em;
}
.tareas{
float: left;
  height: 70px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;


}

.tareas {
	text-align:left;
}

.tareas button{
margin:0 0 5px 0;
}

.texto-tareas{
	clear:both;
}

.tab-content .row{
	  background-color: #fAfAfA;

}

.tab-pane .text-center{
	border-right:1px solid #ddd;
}

/*registro formulario*/
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.logo-group{
	margin-left:20px;
}

/*ICONOS*/
 .icono{  

    color: white;
 }
 
  .icono:hover{  

    color: white;

 }
 
 .logout{
float:right;

 }
 .header-btn{
	   margin-top: 10px;
  margin-bottom: 10px;
 }
 
.modal-cliente, .modal-cliente-update{
	width:90% !important;
} 
 
.modal-record{
	width:50% !important;
} 
 
.hallazgo{
	color:#555;
} 

.hallazgo:hover{
	text-decoration:none;
}

.carpeta{
	color:#333;
} 

.carpeta:hover{
	text-decoration:none;
}


.logo-img{
	margin-top:100px;
}

.row{
	height:auto;
}
.c-cliente{
  background-color:#fafafa;
  /*height:480px;*/
  height:100%;
}

.c-carp,.c-hall{
	overflow-y:scroll;
	  /*height:480px;*/
  height:100%;
    background-color:#fff;
}


.vimg{
	max-width:620px;
}

.barra{
	
	border:1px solid #ddd;
	background-color:#fff;
}
.barra-right{
	border-right:1px solid #ddd;

	}
	
.barra-left{
	border-left:1px solid #ddd;
}	

.frame{
	background-color:#fafafa;
	height:68.8%;
}

.data-general{
	text-align:center;
}

.container-columns{
height:100%;
    min-height:100%;
}

.container-columns .row{
	height:100%;
    min-height:100%;
}

.bs-callout {
 
    border-left: 5px solid #428bca;
    border-radius: 3px;

}

.resaltador {
	background-color:#ccc;
    padding:1%;	
}
.resaltadors{
	background-color:#cde6f7;
}

.row-footer{
	margin-top:25px;
	clear:both;
	height:23px !important;
	min-height:23px !important;
}

.foto-col{
	width:100px;
	height:100px;
}

.valign{
	vertical-align:middle !important;
}

.recor_text{
    width: 100%;
    border: none;
    background-color: white;
    height: 170px;
}

.tprom,.tvalor{
	cursor:pointer;
	background-color:#c9dff0; !important;
	 vertical-align: middle !important;
}


.table-list-cli thead tr th.headerSortUp, .table-list-cli thead tr th.headerSortDown {
  background: #ccc !important;
}

	
 .search-text{
    color: gray;
    display: block;
    font-size: small;
    padding-top: 7px;
    position: relative;
}

.search-text-carpeta {
    color: gray;
    display: block;
    font-size: small;
    padding-top: 7px;
    position: relative;
	padding-left:12px;
}

#search_main {
    background-color: transparent;
    left: 0;
    position: absolute; 
    top: 0;   
    z-index: 1;
}

 #search_carpeta
 {
    background-color:transparent;
    left: 0;
    position: absolute; 
    top: 0;   
    z-index: 1;
	width:120%;
}

.cmpl_valor_td{
	max-width:250px;
	word-wrap:break-word;
}

.cmpl_accion_td{
		max-width:100px;
	word-wrap:break-word;
}

.form-horizontal .panel-empresa{
	margin-bottom:0px;
}

.modal-enviar-msj{
width:85% !important;}

.info-remitente{
	margin-bottom:40px !important;
}

.group-no-margin{
	margin-bottom:0px !important;
}

.body-modal-msj{
	padding-bottom:0px !important;
}
.separador{
	font-size:15px;
	background-color:#f5f5f5;
}

.inline-forms{
	display:inline-block;
}

.read_logo,.read_foto{
	width:50% !important;
}
.guarda_logo, .elimina_logo{
	width:20% !important;
	float:left;
	position:relative;
	display:table-cell;
}

.celda-right{
	text-align:right;
}


#logo-img, #foto-img{
	width:100px;
	height:100px;
	 border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#logo-img:hover, #foto-img:hover {opacity: 0.7;}

.group-fieldset{
	padding:5px;
	border: 1px solid #eee;
}